*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.carousel-inner img {
    width: 100%;
    height: 90vh;
    object-fit: contain;
  }
  .img{
      width: 30px;;
      height: 30px;
  }
.container-fluid{
    background: darkslategray;
    text-decoration-color: aqua;
}